.team-title{
  color: #fff;
  
}
.team-top{
  position: absolute;
  font-size: medium;
  text-align: center;
  top: 10%;
  width: 30%;
  align-items: center;
}

.team-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60vh;
  width: 100%;
}

.team-card {
  width: 25%; /* Each item takes up 25% of the container width */
  padding: 10px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: white;
  border-radius: 0.3rem;
}

.team-card {
  width: 20%; /* Each item takes up 25% of the container width */
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 1s ease-out 100ms
}

.team-card:hover {
  background-color: #002b4e;
}

.team-card img {
  max-width: 100%;
  height: auto;
}